{% extends 'base_layout.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>Studium verwalten</h1>
            <p>{{ study["study"].title }}</p>
            <p class="float-right">
                <a class="btn btn-info" href="/editStudy/{{ study["study"].id }}">Studiengang bearbeiten</a>
                <a class="btn btn-success" href="/study/{{ study["study"].id }}/addModule">Modul hinzufügen</a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            {% for module in study["study"]["modules"] %}
                <div class="col-md-12 m-2">
                    <a class="btn col-md-12 border" role="button" data-toggle="collapse"
                       href="#toggle{{ module.id }}" aria-expanded="false" aria-controls="toggle{{ module.id }}">
                        <p class="float-left">{{ module.id }}</p>
                        <p class="float-right">
                        </p>
                        <h2>{{ module.title }}</h2>
                    </a>
                    <div class="collapse" id="toggle{{ module.id }}">
                        <div class="card card-body">
                            {% for lecture in module["lectures"] %}
                                <div class="col-md-12 border card p-1 m-1">
                                    <h4>{{ lecture.title }}</h4>
                                    <p>Semester: {{ lecture.semester }} <br>
                                        Verantwortlich: {{ lecture.responsible }}
                                    </p>
                                    <a class="btn btn-info"
                                       href="/study/{{ study["study"].id }}/module/{{ module.id }}/editLecture/{{ lecture.id }}">Lehrveranstaltung
                                        bearbeiten</a>
                                </div>
                            {% endfor %}

                            <hr class="my-4">
                            <div class="row justify-content-around">
                                <a class="col-md-4 m-1 btn btn-success"
                               href="/study/{{ study["study"].id }}/module/{{ module.id }}/addlecture">Lehrveranstaltung
                                hinzufügen</a>
                                <a class="col-md-4 m-1 btn btn-info" href="/study/{{ study["study"].id }}/editModule/{{ module.id }}">Modul
                                bearbeiten</a>
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}