{% extends 'base_layout.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Studiengänge</h1>
            <p><a class="btn btn-default" href="/addStudy" role="button">Neu</a></p>
        </div>
    </div>


    <div class="container">
        <div class="row">

            {% for study in studies %}
                <div class="col-md-4">
                    <h2>{{ study.title }}</h2>
                    <p><a class="btn btn-default" role="button" data-toggle="collapse" href="#toggle{{ study.id }}"
                          aria-expanded="false" aria-controls="toggle{{ study.id }}">Details</a></p>
                    <div class="collapse" id="toggle{{ study.id }}">
                        <div class="card card-body">
                            {{ study.description }}

                            <a class="btn btn-default" href="/editStudy/{{ study.id }}">Edit</a>
                            <a class="btn btn-default" href="/study/{{ study.id }}/addModule">add module</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}